:root {
  --header-height: 42px;
  --total-weeks: 6;
}
.container {
  max-width: 1140px;
  margin: auto;

  .container-item {
    width: 100%;
  }
}

.calendar-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.black-icon {
  color: black;
  svg {
    fill: black;
  }
}
